base58==1.0.3
Beaker==1.12.0
beaker-pyteal==0.6.1
certifi==2022.9.24
cffi==1.15.1
distlib==0.3.6
docstring-parser==0.14.1
filelock==3.8.0
morphys==1.0
msgpack==1.0.5
multihash==0.1.1
pipenv==2022.10.12
platformdirs==2.5.2
py-algorand-sdk==2.0.0
py-multibase==1.0.3
py-multicodec==0.2.1
py-multiformats-cid==0.4.4
py-multihash==2.0.1
pycparser==2.21
pycryptodomex==3.17
PyNaCl==1.5.0
pyteal==0.23.0
python-baseconv==1.2.2
semantic-version==2.10.0
six==1.16.0
varint==1.0.2
virtualenv==20.16.5
virtualenv-clone==0.5.7
